*{
	background-color:#f8f8f8;
}
button{
	border-radius:5px;
	width:100vh;
	height:40px;
	background-color:lightgreen;
	border:none
}
.boxmid{
	width:100vh;
	height:20px;
	background-color:white;
}
img {
  display: block;
  margin: 0 auto; 
  width: 50%; 
}